- content_for(:title) do
  New client

- content_for(:content_header_links) do
  .btn-group.mr-2
    = link_to 'Back', clients_path, class: 'btn btn-sm btn-outline-secondary'

.container.justify-content-center.d-flex
  = render 'form'


