$dark_gray: #454545;
$yellow: #fac11e;
$green: #6bd098;
$blue: #007bff;

body {
  font-size: .875rem;
}

.bg-dark {
  background-color: #222121 !important;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-item {
  &:before {
    border-bottom: 17px solid transparent;
    border-top: 17px solid transparent;
    content: "";
    display: inline-block;
    opacity: 1;
    position: absolute;
    top: 7px;
    transition: opacity .15s ease-in;
  }
}



.sidebar .nav-link {
  color: hsla(0,0%,100%,.5);

  &:hover {
    color: #d9d9d9;
  }

  &.active {
    color: #6bd098;
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.form-row .form-group {
  margin: 1em;
}

/* content */

.content {
  margin-bottom: 55px;
}

.flex-input-item {
  margin: 0 10px;
}

.add-association-btn {
  margin-top: 1.7rem !important;
}
.btn-remove-assoc {
  margin-top: 2rem !important;
}

.form-actions {
  margin: 0 -15px !important;
  background: #fff;
  padding: 10px 25px;
  border-top: 1px solid #ced4da;
  position: fixed;
  bottom: 0;

  .btn {
    margin-right: 10px;
    padding: 5px 25px;
  }
}

.project-title {
  h5 {
    color: $dark_gray;
  }

  span.text-capitalize.font-weight-bold {
    color: #999999;
  }
}

.btn-action_absolute {
  position: absolute;
  top: 0;
  right: 0;

  .btn.btn-sm.dropdown-toggle {
    color: $dark_gray;
  }
}

.dark-gray {
  color: $dark_gray;
}

.green {
  color: $green;
}

.project-dates {
  text-decoration: underline;

  .text-uppercase {
    font-size: 0.6rem;
  }
}

.project .third {
  .code-complete {
    .w-50:first-child {
      font-size: 0.7rem;
    }
  }
}
.project-corrections {
  span.mb-1 {
    font-size: 0.7rem;
  }

  .from, .to {
    font-size: 0.6rem;
  }

  a {
    color: red;
    font-size: 0.6rem;
  }
}

.dropdown-toggle {
  &:hover::after {
    color: $yellow;
  }

  &::after {
    color: $dark_gray;
  }
}

.field_with_errors {
  display: flex;
  width: 100%;

  input, select {
    border: 1px solid red;
  }
}

.resources-title {
  background: #ddd;
}

.text-underline {
  text-decoration: underline;
}

.w-55 {
  width: 55%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-10 {
  width: 10%;
}


