%ul.nav.flex-column.text-light
  %li.nav-item
    = dashboard_link_to 'Clients', clients_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Projects', projects_path, class: 'nav-link'
  %li.nav-item
    = dashboard_link_to 'Resources', resources_path, class: 'nav-link'
